<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gatein.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="gatein.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gatein.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="gatein.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <gatein.AppSetting>
            <setting name="Greet" serializeAs="String">
                <value>Hello</value>
            </setting>
        </gatein.AppSetting>
        <gatein.Properties.Settings>
            <setting name="InputPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="InputBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="InputDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="InputParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="InputStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="CameraURL" serializeAs="String">
                <value>http://192.168.0.210:8080/cgi-bin/guest/Video.cgi?media=JPEG</value>
            </setting>
            <setting name="CameraUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="CameraPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>C:\temp\images</value>
            </setting>
            <setting name="GatePortName" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="GateBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="GateDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GateParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="GateStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="InputDataMode" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="GateDataMode" serializeAs="String">
                <value>Text</value>
            </setting>
        </gatein.Properties.Settings>        
    </userSettings>
  <appSettings>
    <add key="db" value="Database=parkir;Data Source=localhost;User Id=root;Password=heru"/>
    <add key="gateid" value="1"/>
    <add key="use_network_share" value="0"/>
    <add key="local_image_dir" value="G:\\moving\\app\\gatein\\bin\\Debug\\images"/>
    <add key="remote_server" value="192.168.5.5"/>
    <add key="remote_share" value="otomasi"/>
    <add key="remote_user" value="hes"/>
    <add key="remote_password" value="heru juga"/>
    <add key="remote_folder" value="USER\\HES\\images\\"/>
    <add key="rfid_start_char" value=":"/>
    <add key="rfid_end_char" value=";"/>
  </appSettings>
  <applicationSettings>
    <gatein.Properties.Settings>
      <setting name="OpenPortalCommand" serializeAs="String">
        <value>:OPEN1;</value>
      </setting>
      <setting name="ClosePortalCommand" serializeAs="String">
        <value>:CLOSE1;</value>
      </setting>
      <setting name="StopPortalCommand" serializeAs="String">
        <value>:STOP1;</value>
      </setting>
      <setting name="TestCommand" serializeAs="String">
        <value>:TEST;</value>
      </setting>
      <setting name="CMDOKResponse" serializeAs="String">
        <value>:OK;</value>
      </setting>
      <setting name="CMDErrorResponse" serializeAs="String">
        <value>:CMD ERR;</value>
      </setting>
      <setting name="ClosePortalResponse" serializeAs="String">
        <value>:IN1ON;</value>
      </setting>
      <setting name="OpenPortalResponse" serializeAs="String">
        <value>:IN1OFF</value>
      </setting>
    </gatein.Properties.Settings>
    <gatein.AppSetting>
      <setting name="Connection" serializeAs="String">
        <value>http://yahoo.com</value>
      </setting>
    </gatein.AppSetting>
  </applicationSettings>
</configuration>