<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="db" value="Database=parkir;Data Source=localhost;User Id=root;Password=heru"/>
    <add key="gateid" value="2"/>
    <add key="use_remote_file" value="0"/>
    <add key="local_image_dir" value="G:\\moving\\app\\gatein\\bin\\Debug\\images"/>
    <add key="remote_server" value="192.168.5.5"/>
    <add key="remote_share" value="otomasi"/>
    <add key="remote_user" value="hes"/>
    <add key="remote_password" value="heru juga"/>
    <add key="remote_folder" value="USER\\HES\\images\\"/>
  </appSettings>
</configuration>